# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=chatforge

# Supabase Configuration
SUPABASE_JWT_SECRET=8b2eaeed-2dbc-4abf-989a-896d652a4068
SUPABASE_URL=https://lyqzfwusfkkvkaaacosx.supabase.co

# Application
NODE_ENV=development
PORT=3001
